[submodule "system"]
	path = system
	url = https://github.com/kohana/core
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database
[submodule "modules/oauth"]
	path = modules/oauth
	url = https://github.com/biakaveron/oauth
[submodule "modules/openid"]
	path = modules/openid
	url = https://github.com/biakaveron/openid
[submodule "modules/sso"]
	path = modules/sso
	url = https://github.com/biakaveron/sso
[submodule "modules/orm"]
	path = modules/orm
	url = https://github.com/kohana/orm
